.places {
  margin-top: 25px;
}
.places--container {
  width: 860px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.places h1 {
  font-size: 30px;
}
.places h2 {
  font-size: 30px;
}
.places article {
  width: 390px;
  border: 1px solid #ff5a5f;
  border-radius: 4px;
  padding: 20px;
  margin: 20px;
  text-align: center;
}
